# WordPress Environment Variables

# MySQL Configuration
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=CHANGE_ME_STRONG_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_STRONG_ROOT_PASSWORD

# WordPress Configuration
WORDPRESS_TABLE_PREFIX=wp_

# Domain
DOMAIN=bhgv.evidoxa.com
